@charset "UTF-8";

@media all and (max-width:1200px){
    /* padding */
    #wrap #main #section8 {padding:90px 0 0 0;}
    #wrap #main #section2,
    #wrap #main #section3,
    #wrap #main #section4,
    #wrap #main #section5,
    #wrap #main #section6,
    #wrap #main #section7,
    #wrap #main #section9,
    #wrap #main #section10,
    #wrap #main #section11,
    #wrap #main #section12 {padding:90px 0;}

        /* header */
        #wrap #header {background:transparent;}

    /* section1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box {bottom:18%;}
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-content h2 {font-size:90px;}
    /* section2 */
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(1).addsec2 {float:left;width:40%;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(2).addsec2 {float:left;width:50%;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(2).addsec2 .content-gap {margin-left:0;}
    #wrap #main #section2 .wrap .gap .container .content ul li .content-gap .content-wrap h3 {padding-top:50px;}

    /* section9 */
    #wrap #main #section9 .wrap {max-width:960px;}
    #wrap #main #section9 .wrap .gap .container .content ul li .content-gap .content-wrap .content-box-gap .content-box-wrap p {width:100%;}

    /* section10 */
    #wrap #main #section10 .wrap {max-width:960px;}
    #wrap #main #section10 .wrap .gap .container .content ul li .content-gap .content-wrap h2 {font-size:29.9px;line-height:120%;}
    #wrap #main #section10 .wrap .gap .container .content ul li:nth-child(2) .content-gap {padding:0 11.4464023%;}




    /* section11 */
    #wrap #main #section11 .wrap {max-width:960px;}

    /* section12 */
    #wrap #main #section12 .wrap {max-width:960px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container {width:100%;padding-bottom:100px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap {position:relative;left:0;width:calc(960px*8);margin-left:-960px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide {float:left;width:960px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .left-box  {float:left;width:40%;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .right-box {float:left;width:60%;}
    #wrap #main #section12 .wrap .gap .container .content .cube {float:left;margin-left:40%;width:200px;height:200px;transform:perspective(400px) rotate3d(0,0,0, 0deg);}
    #wrap #main #section12 .wrap .gap .container .content .cube .front  {transform:rotateY(0deg)   translateZ(100px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .back   {transform:rotateY(180deg) translateZ(100px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .left   {transform:rotateY(-90deg) translateZ(100px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .right  {transform:rotateY(90deg)  translateZ(100px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .top    {transform:rotateX(90deg)  translateZ(100px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .bottom {transform:rotateX(-90deg) translateZ(100px);}


    /* footer */
    #footer .wrap {max-width:960px;}
    #footer .wrap .gap .container .content > ul > li .content-gap .content-wrap ul li {margin-right:20px;}




}

@media all and (max-width:991px){
        /* padding */
        #wrap #main #section8 {padding:75px 0 0 0;}
        #wrap #main #section2,
        #wrap #main #section3,
        #wrap #main #section4,
        #wrap #main #section5,
        #wrap #main #section6,
        #wrap #main #section7,
        #wrap #main #section9,
        #wrap #main #section10,
        #wrap #main #section11 {padding:75px 0;}

    /* font-size */
    #wrap #main #section3 .wrap .gap .container .title h2,
    #wrap #main #section4 .wrap .gap .container .title h2,
    #wrap #main #section5 .wrap .gap .container .title h2,
    #wrap #main #section6 .wrap .gap .container .title h2,
    #wrap #main #section7 .wrap .gap .container .title h2,
    #wrap #main #section8 .wrap .gap .container .title h2,
    #wrap #main #section9 .wrap .gap .container .title h2 {font-size:29px;}




    /* header */
    #wrap #header {background:#fff;height:72px;border:0;}
    #wrap #header .wrap .gap {margin:0 30px;}

    /* 모바일메뉴 */
    #wrap #header .wrap .gap .container .mobile-btn-wrap {display:block;}

    /* 로고 */
    #wrap #header .wrap .gap .container #logo {float:left;}
    #wrap #header .wrap .gap .container #logo a {display:block;width:100%;height:100%;}
    #wrap #header .wrap .gap .container #logo a img {width:111px;height:36px;padding:18px 0;}

    /* 사이드메뉴 */
    #wrap #header .wrap .gap .container #aside .aside-gap {padding:29px 0;}
    #wrap #header .wrap .gap .container #aside .aside-gap .aside-content a {display:block;float:left;padding:0 10px;}
    #wrap #header .wrap .gap .container #aside .aside-gap .aside-content a i {color:#000;}

    /* 메인메뉴 */
    #wrap #header .wrap .gap .container #nav {display:none;background:transparent;position:fixed;top:72px;left:0;width:100%;height:100%;overflow-y:auto;text-align:left;}
    #wrap #header .wrap .gap .container #nav > ul {width:auto;padding-bottom:72px;}
    #wrap #header .wrap .gap .container #nav > ul > li {position:relative;float:none;background:#fff;}
    #wrap #header .wrap .gap .container #nav > ul > li > a {display:block;line-height:45px;padding:9px 30px;color:#000;}
    #wrap #header .wrap .gap .container #nav > ul > li > a.addNavBlack {color:#232323;}
    #wrap #header .wrap .gap .container #nav > ul > li > a:hover {color:#828282;}
    #wrap #header .wrap .gap .container #nav > ul > li > a > i {display:block;}


    /* 서브 메뉴 */
    #wrap #header .wrap .gap .container #nav > ul > li > .sub {position:relative;top:0;left:0;margin-left:0;width:100%;text-align:left;border-radius:0;box-shadow:0 0 0 transparent;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap {padding:0;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul {width:100%;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li  {float:none;width:100%;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl {width:100%;padding:0 30px;text-indent:20px;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dt {font-size:14px;font-weight:600;color:#000;line-height:40px;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd {position:relative;padding:0;line-height:40px;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd::after {content:'';display:block;clear:both;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd a {display:block;color:#828282;font-size:14px;font-weight:400;transition:all .3s;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd a:hover {color:#232323;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd i {float:right;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd a .img-wrap {display:none;width:100%;margin-left:0;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd a .img-wrap img {width:20%;}

    #wrap #header .wrap .gap .container #nav > ul > li > .sub2 .sub-gap > ul > li dl dd a,
    #wrap #header .wrap .gap .container #nav > ul > li > .sub3 .sub-gap > ul > li dl dd a,
    #wrap #header .wrap .gap .container #nav > ul > li > .sub5 .sub-gap > ul > li dl dd a,
    #wrap #header .wrap .gap .container #nav > ul > li > .sub6 .sub-gap > ul > li dl dd a {color:#000;font-size:14px;font-weight:500;}




    /* 서브 서브 메뉴 */
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub {position:relative;top:0;left:0;width:100%;background:#fff;border-radius:0;text-align:left;box-shadow:0 0 0 transparent;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap {padding:0;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul {width:100%;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li {position:relative;padding:0;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li > a {display:block;color:#828282;font-size:13px;font-weight:500;transition:all .3s;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li > a:hover {color:#232323;}

    #wrap #header .wrap .gap .container #nav > ul > li > .sub5 .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li:nth-child(10) > a {color:#000;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub5 .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li:nth-child(11) > a {color:#000;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub5 .sub-gap > ul > li dl dd .sub5-sub1 .sub-sub-gap > ul > li:nth-child(12) > a {color:#000;}


    /* 서브 서브 서브 메뉴 */
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub {position:relative;top:0;left:0;width:100%;background:#fff;border-radius:0;text-align:left;box-shadow:0 0 0 transparent;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap {padding:0;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap > ul {width:100%;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap > ul > li {padding:0;width:100%;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap > ul > li > a {display:block;color:#828282;font-size:13px;font-weight:400;transition:all .3s;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub .sub-sub-sub-gap > ul > li > a:hover {color:#232323;}

    /* 서브메뉴 숨기기 */
    #wrap #header .wrap .gap .container #nav > ul > li > .sub {display:none;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub {display:block;}
    #wrap #header .wrap .gap .container #nav > ul > li > .sub .sub-gap > ul > li dl dd .sub-sub .sub-sub-gap > ul > li .sub-sub-sub {display:block;}


    /* secition1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-content h2 {font-size:70px;}

    /* section2 */
    #wrap #main #section2 .wrap {max-width:720px;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(1).addsec2 {float:left;width:50%;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(2).addsec2 {float:left;width:50%;}
    #wrap #main #section2 .wrap .gap .container .content ul li .content-gap .content-wrap h3 {font-size:27px;}
    #wrap #main #section2 .wrap .gap .container .content ul li .content-gap .content-wrap h4 {font-size:27px;}
    #wrap #main #section2 .wrap .gap .container .content ul li .content-gap .content-wrap h5 {font-size:15px;}
    #wrap #main #section2 .wrap .gap .container .content ul li .content-gap .content-wrap p  {font-size:14px;}
    /* section3 */
    #wrap #main #section3 .wrap {max-width:720px;}
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(1) {float:left;width:50%;}
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(2) {float:left;width:50%;}
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(3) {float:left;width:50%;}
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(4) {float:left;width:50%;}
    #wrap #main #section3 .wrap .gap .container .content {padding-top:40px;}
    /* section4 */
    #wrap #main #section4 .wrap .gap .container .content ul {width:100%;margin:0 auto;}
    #wrap #main #section4 .wrap .gap .container .content ul li {float:left;width:50%;}
    #wrap #main #section4 .wrap .gap .container .content ul li:nth-child(3) {position:relative;top:0;left:25%;float:left;width:50%;}

    /* section5 */
    #wrap #main #section5 .wrap {max-width:720px;}
    #wrap #main #section5 .wrap .gap .container .content .tab-menu-wrap ul li {float:none;width:100%;}
    #wrap #main #section5 .wrap .gap .container .content .tab-menu-wrap {height:864px;}
    #wrap #main #section5 .wrap .gap .container .content > span {margin-top:40px;}


    /* section6 */
    #wrap #main #section6 .wrap {max-width:720px;}
    #wrap #main #section6 .wrap .gap .container .content ul li {float:left;width:50%;}
    #wrap #main #section6 .wrap .gap .container .content ul li:nth-child(3) {float:left;width:50%;position:relative;top:0;left:25%;}
    
    /* section7 */
    #wrap #main #section7 .wrap .gap .container .content #nav3 > ul > li {float:none;padding:10px 0;}

    /* section8 */
    #wrap #main #section8 .wrap .gap .container .content ul li {float:left;width:50%;}
    #wrap #main #section8 .wrap .gap .container .content ul li:nth-child(1) .content-gap {margin-bottom:30px;}
    #wrap #main #section8 .wrap .gap .container .content ul li:nth-child(2) .content-gap {margin-bottom:30px;}
    #wrap #main #section8 .wrap .gap .container .content ul li:nth-child(3) {position:relative;top:0;left:25%;float:left;width:50%;}

    /* section9 */
    #wrap #main #section9 .wrap {max-width:720px;}
    #wrap #main #section9 .wrap .gap .container .content {padding-top:50px;}
    #wrap #main #section9 .wrap .gap .container .content ul li {float:left;width:50%;}
    #wrap #main #section9 .wrap .gap .container .content ul li:nth-child(3) {float:left;width:50%;position:relative;top:0;left:25%;}
    #wrap #main #section9 .wrap .gap .container .content ul li:nth-child(1) .content-gap {margin-bottom:30px;}
    #wrap #main #section9 .wrap .gap .container .content ul li:nth-child(2) .content-gap {margin-bottom:30px;}

    /* section10 */
    #wrap #main #section10 {height:660px;}
    #wrap #main #section10 .wrap .gap .container {padding:0;}
    #wrap #main #section10 .wrap {max-width:720px;}
    #wrap #main #section10 .wrap .gap .container .content ul li .content-gap .content-wrap h2 {font-size:27.6px;}
    #wrap #main #section10 .wrap .gap .container .content ul li:nth-child(2) .content-gap {padding:0 11.4464023%;}





    /* section11 */
    #wrap #main #section11 .wrap {max-width:720px;}
    #wrap #main #section11 .wrap .gap .container .content ul li {width:50%;}
    #wrap #main #section11 .wrap .gap .container .content ul li:nth-child(1) .content-gap {margin-bottom:40px;}
    #wrap #main #section11 .wrap .gap .container .content ul li:nth-child(2) .content-gap {margin-bottom:40px;}


    /* section12 */
    #wrap #main #section12 .wrap {max-width:720px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap {width:calc(720px*8);margin-left:-720px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide {width:720px;}
    #wrap #main #section12 .wrap .gap .container .content .cube {float:left;margin-left:33%;width:200px;height:200px;transform:perspective(400px) rotate3d(0,0,0, 0deg);}




    /* footer */
    #footer .wrap {max-width:720px;}
    #footer .wrap .gap .container .content > ul {position:relative;height:87px;}
    #footer .wrap .gap .container .content > ul > li:nth-child(1) {position:relative;top:50px;left:0;float:left;width:50%;}
    #footer .wrap .gap .container .content > ul > li:nth-child(2) {position:absolute;top:0;left:0;display:inline-block;width:100%;}
    #footer .wrap .gap .container .content > ul > li:nth-child(3) {position:relative;top:55px;left:0;float:right;width:50%;}
    #footer .wrap .gap .container .content > ul > li .content-gap .content-wrap p {padding-left:0;}




    









    
}

@media all and (max-width:760px){

    /* font-size */
    #wrap #main #section3 .wrap .gap .container .title h2,
    #wrap #main #section4 .wrap .gap .container .title h2,
    #wrap #main #section5 .wrap .gap .container .title h2,
    #wrap #main #section6 .wrap .gap .container .title h2,
    #wrap #main #section7 .wrap .gap .container .title h2,
    #wrap #main #section8 .wrap .gap .container .title h2,
    #wrap #main #section9 .wrap .gap .container .title h2 {font-size:27px;}

    /* section1 */
    #wrap #main #section1 .wrap .gap .container .slide-container .slide-view .slide-wrap .slide .text-box .text-gap .text-content h2 {font-size:45px;}

    /* section2 */
    #wrap #main #section2 .wrap {max-width:540px;}
    #wrap #main #section2 .wrap .gap .container .content ul li .content-gap .content-wrap h3 {padding-top:0px;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(1).addsec2 {padding:0 15px 30px 15px;width:auto;float:none;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(2).addsec2 {padding:0 15px;width:auto;float:none;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(1).addsec2 .content-gap {padding:0;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(2).addsec2 .content-gap {padding:0;margin-left:0;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(1).addsec2 .content-gap .content-wrap h3 {font-size:26px;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(1).addsec2 .content-gap .content-wrap h4 {font-size:26px;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(1).addsec2 .content-gap .content-wrap h5 {font-size:15px;}
    #wrap #main #section2 .wrap .gap .container .content ul li:nth-child(1) .addsec2.content-gap .content-wrap p  {font-size:14px;}

    /* section4 */
    #wrap #main #section4 .wrap .gap .container .content ul {width:100%;margin:0 auto;}
    #wrap #main #section4 .wrap .gap .container .content ul li {float:none;width:70%;margin:0 auto;}
    #wrap #main #section4 .wrap .gap .container .content ul li:nth-child(3) {position:relative;top:0;left:0;float:none;width:70%;}

    /* section5 */
    #wrap #main #section5 .wrap .gap .container .content {padding-top:50px;}
    #wrap #main #section5 .wrap .gap .container .content #nav2 {width:100%;padding-bottom:30px;}
    #wrap #main #section5 .wrap .gap .container .content #nav2 > ul > li {float:none;padding:10px 0;}

    /* section9 */
    #wrap #main #section9 .wrap .gap .container .content ul li {float:none;width:80%;margin:0 auto;}
    #wrap #main #section9 .wrap .gap .container .content ul li:nth-child(3) {position:relative;top:0;left:0;float:none;width:80%;}
    #wrap #main #section9 .wrap .gap .container .content ul li:nth-child(1) .content-gap {margin-bottom:30px;}
    #wrap #main #section9 .wrap .gap .container .content ul li:nth-child(2) .content-gap {margin-bottom:30px;}

    /* section10 */
    #wrap #main #section10 .wrap .gap .container {padding:0;}
    #wrap #main #section10 {height:945px;}
    #wrap #main #section10 .wrap {max-width:540px;}
    #wrap #main #section10 .wrap .gap .container .content ul {height:930px;}
    #wrap #main #section10 .wrap .gap .container .content ul li {float:left;width:100%;}
    #wrap #main #section10 .wrap .gap .container .content ul li:nth-child(1) {width:100%;height:40%;}
    #wrap #main #section10 .wrap .gap .container .content ul li:nth-child(2) {width:100%;height:60%;}
    #wrap #main #section10 .wrap .gap .container .content ul li .content-gap .content-wrap .img-wrap img {transform:scale(1);}




    
    /* section11 */
    #wrap #main #section11 .wrap {max-width:540px;}

    /* section12 */
    #wrap #main #section12 .wrap {max-width:540px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap {position:relative;left:0;width:calc(540px*8);margin-left:-540px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide {float:left;width:540px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content {height:500px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .left-box  {float:left;width:100%;height:300px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .right-box {float:left;width:100%;height:200px;}

    /* footer */
    #footer .wrap {max-width:540px;}
    #footer .wrap .gap .container .content > ul {position:relative;height:130px;text-align:center;}
    #footer .wrap .gap .container .content > ul > li:nth-child(1) {position:relative;top:50px;left:0;float:left;width:100%;}
    #footer .wrap .gap .container .content > ul > li:nth-child(2) {position:absolute;top:0;left:0;display:inline-block;width:100%;}
    #footer .wrap .gap .container .content > ul > li:nth-child(3) {position:relative;top:60px;left:0;float:right;width:100%;}
    #footer .wrap .gap .container .content > ul > li .content-gap .content-wrap p {text-align:center;}
    #footer .wrap .gap .container .content > ul > li .content-gap .content-wrap ul  {text-align:center;}
    #footer .wrap .gap .container .content > ul > li .content-gap .content-wrap ul li {float:none;display:inline-block;padding:10.5px 0;margin-right:15px;}



    






}

@media all and (max-width:575px){
    /* padding */
    #wrap #main #section8 {padding:50px 0 0 0;}
    #wrap #main #section2,
    #wrap #main #section3,
    #wrap #main #section4,
    #wrap #main #section5,
    #wrap #main #section6,
    #wrap #main #section7,
    #wrap #main #section9,
    #wrap #main #section10,
    #wrap #main #section11 {padding:50px 0;}
    /* font-size */
    #wrap #main #section3 .wrap .gap .container .title h2,
    #wrap #main #section4 .wrap .gap .container .title h2,
    #wrap #main #section5 .wrap .gap .container .title h2,
    #wrap #main #section6 .wrap .gap .container .title h2,
    #wrap #main #section7 .wrap .gap .container .title h2,
    #wrap #main #section8 .wrap .gap .container .title h2,
    #wrap #main #section9 .wrap .gap .container .title h2 {font-size:25px;}


    /* section3 */
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(1) {float:left;width:100%;}
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(2) {float:left;width:100%;}
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(3) {float:left;width:100%;}
    #wrap #main #section3 .wrap .gap .container .content ul li:nth-child(4) {float:left;width:100%;}
    #wrap #main #section3 .wrap .gap .container .content {padding-top:40px;}

    /* section4 */
    #wrap #main #section4 .wrap .gap .container .content ul {width:100%;margin:0 auto;}
    #wrap #main #section4 .wrap .gap .container .content ul li {float:none;width:100%;margin:0 auto;}
    #wrap #main #section4 .wrap .gap .container .content ul li:nth-child(3) {position:relative;top:0;left:0;float:none;width:100%;}

    /* section6 */
    #wrap #main #section6 .wrap .gap .container .content ul li {float:none;width:100%;}
    #wrap #main #section6 .wrap .gap .container .content ul li:nth-child(3) {float:none;width:100%;position:relative;top:0;left:0;}

    /* section8 */
    #wrap #main #section8 .wrap .gap .container .content ul li {float:none;width:100%;}
    #wrap #main #section8 .wrap .gap .container .content ul li:nth-child(2) {margin-top:20px;float:none;width:100%;position:relative;top:0;left:0;}
    #wrap #main #section8 .wrap .gap .container .content ul li:nth-child(3) {margin-top:20px;float:none;width:100%;position:relative;top:0;left:0;}

    /* section9 */
    #wrap #main #section9 .wrap .gap .container .content ul li {width:100%;}
    #wrap #main #section9 .wrap .gap .container .content ul li:nth-child(3) {width:100%;}



    /* section11 */
    #wrap #main #section11 .wrap .gap .container .content ul li {float:none;width:100%;}
    #wrap #main #section11 .wrap .gap .container .content ul li:nth-child(1) .content-gap {margin-bottom:40px;}
    #wrap #main #section11 .wrap .gap .container .content ul li:nth-child(2) .content-gap {margin-bottom:40px;}
    #wrap #main #section11 .wrap .gap .container .content ul li:nth-child(3) .content-gap {margin-bottom:40px;}
    #wrap #main #section11 .wrap .gap .container .content ul li .content-gap .content-wrap h3 {padding-bottom:10px;}
    #wrap #main #section11 .wrap .gap .container .content ul li .content-gap .content-wrap h4 {padding-bottom:10px;}

    /* footer */
    #footer .wrap .gap .container .content > ul {height:210px;}
    #footer .wrap .gap .container .content > ul > li .content-gap .content-wrap p {text-align:center;}
    #footer .wrap .gap .container .content > ul > li .content-gap .content-wrap ul  {text-align:center;}
    #footer .wrap .gap .container .content > ul > li .content-gap .content-wrap ul li {float:none;display:block;padding:5px 0;margin-right:0;}

    /* section12 */
    #wrap #main #section12 .wrap {max-width:540px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap {position:relative;left:0;width:calc(93.91304348vw*8);margin-left:-93.91304348vw;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide {float:left;width:93.91304348vw;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content {height:450px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .left-box  {float:left;width:100%;height:250px;}
    #wrap #main #section12 .wrap .gap .container .content .slide-container .slide-view .slide-wrap .slide .slide-gap .slide-content .right-box {float:left;width:100%;height:200px;}
    #wrap #main #section12 .wrap .gap .container .content .cube {float:left;margin-left:32.17391304vw;width:150px;height:150px;transform:perspective(300px) rotate3d(0,0,0, 0deg);}
    #wrap #main #section12 .wrap .gap .container .content .cube .front  {transform:rotateY(0deg)   translateZ(75px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .back   {transform:rotateY(180deg) translateZ(75px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .left   {transform:rotateY(-90deg) translateZ(75px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .right  {transform:rotateY(90deg)  translateZ(75px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .top    {transform:rotateX(90deg)  translateZ(75px);}
    #wrap #main #section12 .wrap .gap .container .content .cube .bottom {transform:rotateX(-90deg) translateZ(75px);}
    

    
    


}
